.container {
  width: auto;
  min-width: 600px;
  height: 90vh;
  position: relative;
  margin-top: 75px;
}

.navigationArrows {
  height: 100%;
  width: 50%;
  background-color: transparent;
  border-color: transparent;
  bottom: 0px;
  outline: none !important;
}

.left {
  position: absolute;
  left: 0px;
}

.right {
  position: absolute;
  right: 0px;
}

.floorMap {
  width: 100%;
  max-width: 110vh;
  height: 95%;
  max-height: 110vw;
}

.floor {
  font-family: "Adelle, Arial";
  color: white;
  font-size: 20px;
}
